div.banner {
 height: 100%;
 width: 100% 
 overflow: hidden;
 position: relative;
}
div.banner img {
 position: absolute;
 width: auto;
 height: 150px;
 margin: 0;
 line-height: 150px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */	
 animation: banner 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes banner {
 0%   { 
 transform: translateX(100%); 		
 }
 100% { 
 transform: translateX(-100%); 
 }
}
