/*general*/
body {
 background-color: silver;
 margin: 50px 15% 0 15%;
 padding: 0;
}

/*banner*/
div.banner {
 
}
div.banner img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
 height: 150px;
 margin: 0;
}
 
/*navigation*/
div.navigation {
 font-family: Tahoma, Geneva, sans-serif;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
}

div.navigation ul {
 list-style: none;
 margin: 0;
 overflow: hidden;
 background-color: grey;
}

div.navigation  li{
 display: inline-block;
}

div.navigation li a {
 display: block;
 text-decoration: none;
 text-align: center;
 padding: 15px;
 color: black;
}

div.navigation li a:hover {
 color: darkgrey;
}

.active {
 background-color: teal;
}

/*main content*/
.main-content {
 background-color: white;
 padding-bottom: 1px;
 margin-bottom: 20px;
}

div.float-left {
 float: left;
 width: 50%;
 max-height: 400px;
}

div.float-right {
 float: right;
 width: 50%;
 max-height: 400px;
}

div.fullwidth {
 display: block;
 width: 100%;
 height: 100%;
}

div.quote img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
 height: auto;
 margin: 0;
}

table {
 width: 100%;
}

/* titles and headers */
h1 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 250%;
 font-weight: 700;
 font-style: italic;
 margin-left: 10px;
}

h2 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 200%;
 font-weight: 600;
 font-style: italic;
 margin-left: 10px;
}

h3 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 175%;
 font-weight: 450;
 font-style: italic;
 margin-left: 10px;
}

p.header {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 150%;
 font-weight: 300;
 margin-left: 10px;
}

p.text {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

p.bookSearch {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 100%;
 font-weight: 200;
 text-align: justify;
}


label {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

button.type1 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

tr.search {
 text-align: left;
 width: 25%;
}

td.search {
 padding: 10px;
 border-bottom: 1px solid #ddd;
 vertical-align: top;
}

th.search {
 width: 25%;
}

table.search {
 width: 100%;
 border-collapse: collapse;
}
