/*general*/
body {
 background-color: silver;
 margin: 50px 15% 0 15%;
 padding: 0;
}

/*banner*/
div.banner {
 
}
div.banner img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
 height: 150px;
 margin: 0;
}
 
/*navigation*/
div.navigation {
 font-family: Tahoma, Geneva, sans-serif;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
}

div.navigation ul {
 list-style: none;
 margin: 0;
 overflow: hidden;
 background-color: grey;
}

div.navigation  li{
 display: inline-block;
}

div.navigation li a {
 display: block;
 text-decoration: none;
 text-align: center;
 padding: 15px;
 color: black;
}

div.navigation li a:hover {
 color: darkgrey;
}

.active {
 background-color: teal;
}

/*main content*/
.main-content {
background-color: white;
}

div.float-left {
 float: left;
 width: 50%;
 max-height: 400px;
}

div.float-right {
 float: right;
 width: 50%;
 max-height: 400px;
}

div.fullwidth {
 display: block;
 width: 100%;
 height: 100%;
}

div.quote img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: auto;
 height: auto;
 margin: 0;
}
