/*banner*/
div.banner {
 height: 100%;
 width: 100% 
 overflow: hidden;
 position: relative;
}
div.banner img {
 position: absolute;
 width: auto;
 height: 150px;
 margin: 0;
 line-height: 150px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */	
 animation: banner 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes banner {
 0%   { 
 transform: translateX(100%); 		
 }
 100% { 
 transform: translateX(-100%); 
 }
}

/*navigation*/
div.navigation {
 background-color: grey;
 color: black;
 list-style: none;
 text-align: center;
 padding: 20px 0 20px 0;
}

div.navigation  li{
 display: inline-block;
 padding: 0 25px 0 25px;
}

div.navigation li a {
 text-decoration: none;
 color: black;
}

div.navigation li a:hover {
 color: dark grey;
}
