/*general*/
body {
 background-color: silver;
 margin: 50px 15% 0 15%;
 padding: 0;
}

/*banner*/
div.banner {
 
}
div.banner img {
background-color: white;
 display: block;
 margin: auto;
 max-width: 600px;
 max-height: 150px;
 padding: 0 auto 0 auto;
}
 
/*navigation*/
div.navigation {
 font-family: Tahoma, Geneva, sans-serif;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
}

div.navigation ul {
 list-style: none;
 margin: 0;
 overflow: hidden;
 background-color: grey;
}

div.navigation  li{
 display: inline-block;
}

div.navigation li a {
 display: block;
 text-decoration: none;
 text-align: center;
 padding: 15px;
 color: black;
}

div.navigation li a:hover {
 color: darkgrey;
}

.active {
 background-color: teal;
}

/*footer*/
footer {
 position: fixed;
 left: 0;
 bottom: 0;
 font-family: Tahoma, Geneva, sans-serif;
 width: 100%;
 background-color: grey;
 text-align: center;
}

/*main content*/
.main-content {
 background-color: white;
 padding-top: 20px;
 padding-bottom: 1px;
 margin-bottom: 20px;
}

p {
font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

img.book {
 height: 250px;
 width: auto;
}

div.float-left {
 float: left;
 width: 49%;
 max-height: 500px;
 padding: 0.5%;
}

div.float-right {
 float: right;
 width: 49%;
 max-height: 500px;
 padding: 0.5%;
}

div.fullwidth {
 display: block;
 padding: 10px;
 width: 100%;
 height: 100%;
 overflow: auto;
}

img.aQuote {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 80%;
 height: auto;
 padding: 5px 0 5px 0;
 float: right;
}

table {
 width: 100%;
 border-collapse: collapse;
 
}

/*forms*/
input, select {
width: auto;
padding: 12px;
box-sizing: border-box;
border-radius: 6px;
}

input.short {
width: 80px;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
background-color: teal;
border: none;
color: white;
padding: 14px 28px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
border-radius: 6px;
}


/* titles and headers */
h1 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 250%;
 font-weight: 700;
 font-style: italic;
 margin-left: 10px;
}

h2 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 200%;
 font-weight: 600;
 font-style: italic;
 margin-left: 10px;
}

h3 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 175%;
 font-weight: 450;
 font-style: italic;
 margin-left: 10px;
}

p.header {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 150%;
 font-weight: 300;
 margin-left: 10px;
}

p.text {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

p.bookSearch {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 100%;
 font-weight: 200;
 text-align: justify;
}

p.payError {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
 color: red;
}

label {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

button.type1 {
 font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 font-size: 110%;
 font-weight: 200;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 20px;
 text-align: justify;
}

tr.search {
 text-align: left;
}

td.search {
 padding: 10px;
 border-bottom: 1px solid #ddd;
 vertical-align: top;
}

th.search {
 width: 25%;
}

table.search {
 width: 100%;
 border-collapse: collapse;
}

table.cart {
 width: 98%;
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
}

th.cart {
 width: 14%;
}

td.cart {
 padding: 10px;
 border: 1px solid #ddd;
 vertical-align: center;
}

label.buy {
 display: inline-block
}

input.buy {
 display: block;
}